/*TeamActiv02.css*/
#first{
    background-color: green;
    font-size: 30px;
}

#second{
    background-color: aqua;
    font-size: 13px;
}

#third{
    background-color: bisque;
    font-size: 16px;
}